<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
</head>
<body>
<h1>Список пользователей</h1>

<div th:if="${users.empty}">
    <p>Нет пользователей для отображения.</p>
</div>

<table th:unless="${users.empty}" border="1" cellpadding="10">
    <tr>
        <th>Идентификатор</th>
        <th>ФИО</th>
        <th>Почта</th>
        <th>Выберите действие</th>
    </tr>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}">ID</td>
        <td th:text="${user.name}">Name</td>
        <td th:text="${user.email}">Email</td>
        <td>
            <a th:href="@{/users/{id}(id=${user.id})}">Открыть профиль</a> |
            <a th:href="@{/users/delete/{id}(id=${user.id})}">Удалить</a>
        </td>
    </tr>
</table>

<a href="/users/register" style="margin-top: 20px; display: inline-block;">Создать пользователя</a>

</body>
</html>
