<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация пользователя</title>
</head>
<body>
<h1>Регистрация пользователя</h1>
<form action="/users/register" method="post">
    <div>
        <label for="name">Имя:</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div>
        <label for="email">Почта:</label>
        <input type="email" id="email" name="email" required>
    </div>
    <button type="submit">Создать пользователя</button>
</form>
<a href="/users">Назад к списку пользователей</a>
</body>
</html>
